<!-- Create new profile -->
<% if @user == current_user %>
    <div class ="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success text-center">
                <h2>Create Your Profile</h2>
            </div>
            <div class="jumbotron">
            <%= render 'form' %>
            </div>
        </div>
    </div>
    <% flash[:success] = "Hi #{@user_email}, welcome to your profile page !" %>
<%else%>
    <% flash[:danger] = "You were not in a correct link" %>
    <div class="col-md-offset-1">
        <%= link_to new_user_profile_path(current_user), method: :get, class: 'btn btn-info' do %> <!-- current_user is provide by Devise -->
        Back to your own profile
        <%end%>
    </div>
<%end%>