<!DOCTYPE html>

<html>
    <head>
    </head>
    
    <body>
        <p>Damao saas_peactice website get a new contact and test sending email form, from:<%="#{@name}, #{@email}"%></p>
        <p><%= @body%></p>
    </body>
</html>